@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import "Colors";

* {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    outline: none;
}

p {
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: $scroll-gradient;
    border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
    opacity: 0;
    box-shadow: 0px 0px 0px 100000vh $scroll-color;
    border-radius: 30px;
}
