// Navbar colors
$nav-background: #ffffff;
$nav-gradient: linear-gradient(
    135deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);
$nav-title: #a8a8a8;
$nav-title-h: #000000;
$nav-icon-h: #ffffff;
$nav-gradient: linear-gradient(
    135deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);

// Search colors
$search-gradient: linear-gradient(
    135deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);
$search-label: #000000;
$search-border: #a8a8a8;

// Scroll colors
$scroll-gradient: linear-gradient(
    0deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);
$scroll-color: #dddddd;

// Card colors
$card-shadow: rgba(0, 0, 0, 0.2);
$card-color: #ffffff;
$card-gradient: linear-gradient(
    90deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);

// Course colors
$course-gradient: linear-gradient(
    90deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);
$course-btn-gradient: linear-gradient(
    to left,
    rgba(229, 30, 73, 1),
    rgba(45, 155, 226, 1),
    rgba(229, 30, 73, 1)
);
