// Navbar colors
$nav-gradient: linear-gradient(
    135deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);
$nav-title: #a8a8a8;
$nav-title-h: #000000;
$nav-icon-h: #ffffff;
$nav-gradient: linear-gradient(
    135deg,
    rgba(229, 30, 73, 1) 0%,
    rgba(45, 155, 226, 1) 100%
);
