@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

// font-weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// font properties to apply gradient in background attribute
@mixin apply-gradient {
    background-clip: text;
    color: transparent;
}

// apply floating effect to objects
@mixin apply-float {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}

// card fonts

@mixin card-title {
    font-size: 24px;
    font-weight: $bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000000;
}

@mixin card-tag {
    font-size: 13px;
    font-weight: $medium;
    color: #ffffff;
}

@mixin card-info {
    font-size: 10px;
    color: #000000;
}

// course fonts

@mixin course-title {
    font-size: 30px;
    font-weight: $semi-bold;
    color: #000000;
}

@mixin course-description {
    font-size: 16px;
    font-weight: $light;
    color: #000000;
}

// banner fonts

@mixin banner-title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

// solicitation fonts

@mixin sol-title {
    text-align: left;
    font-size: 16px;
    font-weight: $semi-bold;
}

@mixin sol-content {
    text-align: justify;
    font-weight: $light;
}
