@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

// font-weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// font properties to apply gradient in background attribute
@mixin apply-gradient {
    background-clip: text;
    color: transparent;
}
