@import "Colors";
@import "Fonts";

.store-box {
    display: flex;
    justify-content: center;

    margin-bottom: 108px;

    .store-grid {
        display: grid;
        grid-template-columns: 300px 300px 300px;
    }
}
